#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

.page-container {
  margin-top: 55px;
}

.card-container {
  max-width: 500px;
  margin: 22px auto;
}

.nav-item .router-link-active {
  color: #fff !important;
}

/* ====== #Utility =========*/
.mrb-0 {
  margin-bottom: 0;
}
/*--Flex utilities--*/
.aspace-between,
.aalign-center,
.aflex,
.ajustify-center {
  display: flex;
  flex-wrap: wrap;
}
.aspace-between {
  justify-content: space-between;
}
.aalign-center {
  align-items: center;
}

.ajustify-center {
  justify-content: center;
}

.ano-wrap {
  flex-wrap: nowrap;
}

/* ====== &Utility =========*/

/*============ #Modal ================*/

.amodal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.amodal__container {
  box-shadow: 0 0 15px 10px #5656566b;
  min-height: 22px;
  background: #fff;
  border-radius: 3px;
  max-width: 95%;
}

.amodal__header {
  background: #ececec;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 3px 3px 0 0;
}

.amodal__title {
  padding: 11px 22px;
}

.amodal__close {
  cursor: pointer;
  padding: 0px 15px;
  font-size: 28px;
}

.amodal__close:hover {
  color: red;
}

.amodal__body {
  padding: 22px;
  max-height: 77vh;
  overflow-y: auto;
}

/*============ &Modal ================*/

/*============ #TRANSITIONS ================*/
.modal-enter-active,
.modal-leave-active {
  transition: all 0.25s;
}
.modal-enter, .modal-leave-to /* .fade-leave-active below version 2.1.8 */ {
  background-color: none;
  opacity: 0;
}

.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.25s;
  /* transform: scale(1); */
}
.zoom-enter, .zoom-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0.5);
  opacity: 0;
}

/*============ &TRANSITIONS ================*/

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}

.sortable {
  cursor: pointer;
}

.small-input {
  width: 70px;
  display: inline;
}

.clear-filter {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.my-dropdown-link a {
  color: black !important;
}

.rating-img {
  cursor: pointer;
  width: 44px;
  padding-right: 5px;
}

.rating-value {
  padding-top: 5px;
}
