.page-container {
  margin-top: 55px;
}

.card-container {
  max-width: 500px;
  margin: 22px auto;
}

.nav-item .router-link-active {
  color: #fff !important;
}

/* ====== #Utility =========*/
.mrb-0 {
  margin-bottom: 0;
}
/* ====== &Utility =========*/

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}

.sortable {
  cursor: pointer;
}
