.page-container {
  margin-top: 55px;
}

.card-container {
  max-width: 500px;
  margin: 22px auto;
}

.nav-item .router-link-active {
  color: #fff !important;
}

/* ====== #Utility =========*/
.mrb-0 {
  margin-bottom: 0;
}
/* ====== &Utility =========*/
